html {
  font-family: 'Proxima Nova Soft', 'Helvetica Neue', Helvetica, sans-serif; }

body {
  width: 100vw;
  height: 100vh;
  background-color: #1b2638;
  overflow-x: hidden; }

button {
  padding: 0 !important; }
  button:hover {
    background-color: #273348; }

.pure-u-sm-1 {
  padding: 5% 10%; }

.nav {
  height: 50px;
  background-color: #2d3e5c;
  font-size: 1.2em;
  letter-spacing: 1.5px; }

#map-canvas {
  height: 92vh; }

.itinerary {
  height: 92vh;
  overflow-y: scroll; }

.pure-menu-list {
  padding-left: 2%; }

.pure-menu-link {
  color: #DDE3F0;
  padding-top: 0.9em; }

.pure-menu-link:hover {
  color: white;
  text-decoration: none;
  background-color: #1b2638; }

.styled-select {
  background-color: #2d3e5c;
  height: 28px;
  overflow: hidden;
  width: 80%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block; }

.styled-select select {
  background: transparent;
  border: none;
  font-size: 0.8em;
  height: 30px;
  width: 95%;
  color: #DDE3F0;
  letter-spacing: 1px; }

.btn.btn-info.btn-circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #2d3e5c;
  border: none;
  color: #DDE3F0;
  vertical-align: top;
  margin-left: 3%; }

.glyphicon {
  font-size: 0.7em; }

h1 {
  font-size: 0.9em;
  letter-spacing: 1.5px;
  color: #DDE3F0;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 0%;
  margin-top: 5%; }

h2 {
  font-size: 1em;
  letter-spacing: 1.5px;
  color: #DDE3F0;
  font-weight: normal; }

ul.pagination {
  display: inline-block;
  padding-top: 10%;
  margin: 0;
  border-radius: 5px; }

ul.pagination li {
  display: inline; }

ul.pagination li a {
  color: #DDE3F0;
  background: #2d3e5c;
  float: left;
  text-decoration: none; }
